<div id="league_info_container" class="round" data-league_id=<%= params[:id] %> >
  
	<%= render 'layouts/league_header', :user => current_user, :league => @league %>

  <div class='round' id='admin_container'> 
    <div>
      <h3><pre class='header'>   User                     Buy-In   Buy-Back   Remove</pre></h3>
    </div>
    <div>  
      <ul>
      <% @users.each do |u| %>
        <li class='no_bullet'>
          <%= render 'layouts/user_admin_view', :user => u, :membership => Membership.where(:league_id => @league.id, :user_id => u.id).first, :league => @league %>
        </li>
      <% end %>  
      </ul>
    </div>
		<div id='edit_delete_container'>
			<%= submit_tag "Edit Settings", :class => 'button left round' %>
			<%= submit_tag "Delete League", :class => 'button right round', :confirm => "Are you sure?" %>
		</div>
  </div>
    
</div>
