<% week_number = @l.what_week %>
<div id="league_info_container" class="round" data-league_id=<%= params[:id] %> data-user_id=<%= current_user.id %> >

	<%=render 'layouts/league_header', :user => current_user, :league => @l %>
  
  <%= render 'layouts/h2h', :week_number => week_number, :user => current_user, :league => @l %>

  <div class='league_container left round'>
    <h2 class='centered underlined no_bottom_margin'>Select a Week</h2>
    <div id='week_list_container'>
      <% for w in 1..(@l.number_of_weeks) %>
        <% if w == week_number %>
          <% sel = "selected" %>
        <% else %>
          <% sel = "" %>
        <% end %>
        <%= render 'layouts/week_button', :week_number => w, :selected =>  sel %>
      <% end %>
    </div>
  </div>

  <%= render 'layouts/weekly_matchups', :week_number => week_number, :user => current_user, :league => @l, :matchups => @m %>

</div>
