<div id="league_info_container" class="round" data-league_id=<%= params[:id] %> data-user_id=<%= current_user.id %> data-membership_id=<%= @membership.id %> >
	<%=render 'layouts/league_header', :user => @user, :league => @league %>
  
  <div class="profile_container round">
    <div class="header">
      <h2>Profile - <%= @user.name %></h2>
    </div>
    <%= render 'layouts/profile', :user => @user, :membership => @membership, :league => @league %>
  </div>
  
  <div class="bets_container round">
    <div class="header">
      <h2>Games</h2>
    </div>
    <div class="content">
      <% @games.each do |game| %>
        <%= render 'layouts/bets', :game => game %> 
      <% end %>
    </div>
  </div>
  
  <div id="locks_container" class="round">
    <div class="header">
      <h2>Head 2 Head Locks</h2>
    </div>
    <div id="locks">
      <%= render 'layouts/locks', :locks => @locks %>
    </div>
  </div>
  
  <div id="bet_slip_container" class="round">
    <div class="header">
      <h2>Bet Slip</h2>
    </div>
    <div class="content">

    </div>
    <div class="footer">
      <p class="footer_container left">
        Total Risk: <span id="total_risk">0</span>
      </p>
      <p class="footer_container right">
        To Win: <span id="total_win">0</span>
      </p>
    </div>
    <div class="footer footer2">    
			<%= submit_tag "Place Bets", :class => "button right" %>
      <%= submit_tag "Clear Bets", :class => "button right"%>
    </div>
  </div>

  
  <div id="league_standings_container" class="round">
    <div class="header">
      <h2>League Standings</h2>
    </div>
    <div class="content">
      <%= render 'layouts/league_standings', :league => @league %>
    </div>
  </div>

</div>
