<div id="league_info_container" class="round" data-league_id=<%= params[:id] %> data-user_id=<%= current_user.id %> data-membership_id=<%= @membership.id %> >
  <div id="league_header">
    <% @user.leagues.each do |l| %>
      <div class="left">
        <div class="hidden_div_link">
            <%= link_to content_tag(:span, "  "), :controller => "leagues", :action => "show", :id => l.id %>
        </div>
        <%= image_tag l.photo.url(:thumb), :class => "round" %>
      </div>
    <% end %>
    <h1><%= @league.name %></h1>
    <nav class="round">
      <ul>
        <% if manager?(@league.id, @user.id) %>
          <li><%= link_to content_tag(:span, "Admin"),       admin_league_path(@league) %></li>
          <li><%= link_to content_tag(:span, "Edit League"), edit_league_path(@league) %></li>
        <% end %>
        <li><%= link_to "Bets", league_bets_path(@league) %></li>
      </ul>
    </nav>
  </div>
  
  <div class="profile_container round">
    <div class="header">
      <h2>Profile - <%= @user.name %></h2>
    </div>
    <%= render 'layouts/profile', :user => @user, :membership => @membership, :league => @league %>
  </div>
  
  <div class="bets_container round">
    <div class="header">
      <h2>Games</h2>
    </div>
    <div class="content">
      <% @games.each do |game| %>
        <%= render 'layouts/bets', :game => game %> 
      <% end %>
    </div>
  </div>
  
  <div id="locks_container" class="round">
    <div class="header">
      <h2>Head 2 Head Locks</h2>
    </div>
    <%= render 'layouts/locks' %>
  </div>
  
  <div id="bet_slip_container" class="round">
    <div class="header">
      <h2>Bet Slip</h2>
    </div>
    <div class="content">

    </div>
    <div class="footer">
      <p class="footer_left_container">
        Total Risk: <span id="total_risk">0</span>
      </p>
      <p class="footer_right_container">
        To Win: <span id="total_win">0</span>
      </p>
    </div>
    <div class="footer footer2">
      <%= submit_tag "Place Bets", :class => "footer_right_container" %>
      <%= submit_tag "Clear Bets", :class => "footer_left_container"%>      
    </div>
  </div>

  
  <div id="league_standings_container" class="round">
    <div class="header">
      <h2>League Standings</h2>
    </div>
    <div class="content">
      <%= render 'layouts/league_standings', :league => @league %>
    </div>
  </div>

</div>