var previous_sort = $('#index').children(".header").children("h2").children(".right").attr('data-sort_by');
if ( previous_sort == 'games' )
{
    $('#index').children(".header").children("h2").children(".right").attr('data-sort_by', 'users' );
    $('#league_standings_list').replaceWith("<%= escape_javascript( render 'layouts/league_users', :league => @league, :user => @user ) %>");
    jQuery("input[id='update_bets_for_user']").each(function(index, button){
        jQuery(button).click(function(){
            league_id = $("#index").children(".header").data("league_id");
            user = $(this).data("user");
            $('#league_info_container').attr('data-user_id', user );
            get_string = "/leagues/" + league_id + "/bets";
            $.get(get_string, {user_id: user, league_id: league_id, sort_param: "date", show_for: "user", direction: 'down'} );
        });
    });
}


$('#league_standings_list').children().each( function() {
    $(this).attr('data-selected_user', 'no');
    if ( $(this).attr('data-user_id') == <%= escape_javascript( "#{@user.id}" ) %> ) {
        $(this).attr('data-selected_user', 'yes');
    }
});

$('#list').children('.content').empty();

<% if @user == current_user %>
    $('#list').children('.content')
    .append('<% @open_bets.each do |bet| %>\
                <%= escape_javascript(render "layouts/placed_bet", :bet => bet, :game => Game.find_by_id(bet.game_id), :winner => bet.winner?)%>\
             <% end %> ' );
<% end %>




<% if params[:sort_param] == 'amount' %>
<% @all_bets.sort! { |a, b| a.risk <=> b.risk  } %>
<% if (params[:direction] == 'down') %>
    <% @all_bets.reverse! %>
<% end %>
if ( $('#order_by').attr('data-order_by') == 'amount' )
    {
    if ( $('#order_by').attr('data-order_direction') == 'down' )
        {
        $('#order_by').attr('data-order_direction', 'up');
        }
    else
        {
        $('#order_by').attr('data-order_direction', 'down');
        }
    }
$('#order_by').attr('data-order_by', 'amount');
<% else %>
<% @all_bets.sort! { |a, b| a.id <=> b.id } %>
<% if (params[:direction] == 'down') %>
    <% @all_bets.reverse! %>
<% end %>
if ( $('#order_by').attr('data-order_by') == 'date' )
    {
    if ( $('#order_by').attr('data-order_direction') == 'down' )
        {
        $('#order_by').attr('data-order_direction', 'up');
        }
    else
        {
        $('#order_by').attr('data-order_direction', 'down');
        }
    }
$('#order_by').attr('data-order_by', 'date');
<% end %>

$('#list').children('.content')
.append('<% @all_bets.each do |bet| %>\
            <%= escape_javascript(render "layouts/placed_bet", :bet => bet, :game => Game.find_by_id(bet.game_id), :winner => bet.winner?)%>\
         <% end %> ' );

$('#average_return').replaceWith('<p id="average_return">Average Return: <%= @membership.average_return %></p>');
$('#biggest_win').replaceWith('<p id="biggest_win">Biggest Win: <%= @membership.biggest_win %></p>');
$('#biggest_loss').replaceWith('<p id="biggest_loss">Biggest Loss: <%= @membership.biggest_loss %></p>');
$('#number_of_bets').replaceWith('<p id="number_of_bets"># of Bets Placed: <%= @membership.number_of_bets %></p>');
$('#win_percentage').replaceWith('<p id="win_percentage">% of Bets Won: <%= @membership.win_percentage %></p>');

$('#graph_container').empty();
$(function() {
    new Highcharts.Chart({
        chart: {
            renderTo: "graph_container",
             backgroundColor: {
                linearGradient: [0, 0, 0, 400],
                stops: [
                   [0, 'rgb(205, 205, 205)'],
                   [1, 'rgb(255, 255, 255)']
                ]
             }
        },
        title: {
            text: "League Credit Trends"
        },
        xAxis: {
            type: "datetime"
        },
        yAxis: {
            title: {
                text: "Credits"
            }
        },
        legend: {
           layout: 'vertical',
           align: 'right',
           verticalAlign: 'top'
        },
        series: [
        <% @league.memberships.each do |m| %>
            {
                name: "<%= m.user.name %>",
                data: <%= m.get_plot_data %>,
                lineWidth: <%= (m.user == @user ? 6 : 1) %>
            },
        <% end %>
        ]
    });
});