<div class="sign_in_container">

  <div class="sign_in_right">
    <h1> Fantasy Sports Book </h1>
    <p> Welcome to Fantasy Sports Book!  Our goal is to
    provide a new and entertaining alternative to your
    standard fantasy sports leagues.  We incorporate the
    best of sports betting and fantasy sports in an addicitve
    and competative format.  Sign up and start your league
    today!</p>
  </div>
  
  <div class="sign_in_left">
    
    <h2 class="sign_in">Edit Profile</h2>
  
    <%= form_for @user, :html => { :multipart => true, :class => 'sign_in_form sign_up'} do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, :size => "33" %>
      </div>
      <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email, :size => "33" %>
      </div>
      <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, :size => "33" %>
      </div>
      <div class="field">
          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation, :size => "33" %>
      </div>
      <div class="field>
          <%= f.label :photo, "Photo" %>
          <%= f.file_field :photo %>
      </div>
      <div class="actions">
        <%= f.submit "Update" %>
    <% end %>
  </div>
</div>
