<div id="league_header">
  <% user.leagues.each do |l| %>
    <div class="left">
      <div class="hidden_div_link">
          <%= link_to content_tag(:span, "  "), :controller => "leagues", :action => "show", :id => l.id %>
      </div>
      <%= image_tag l.photo.url(:thumb), :class => "round" %>
    </div>
  <% end %>
  <h1><%= league.name %> -- Week <%= league.what_week%></h1>
  <nav class="round">
    <ul>
      <% if manager?(league.id, user.id) %>
        <li><%= link_to content_tag(:span, "Admin"),       admin_league_path(league) %></li>
      <% end %>
      <li><%= link_to "League Home", league_path(league) %></li>
      <li><%= link_to "Bet History", league_bets_path(league) %></li>
      <li><%= link_to "Matchups", '/leagues/' + league.id.to_s + '/matchups' %></li>
    </ul>
  </nav>
</div>
