<% team = @bet.team_name( @game ) %>
<% number = @bet.number( @game ) %>

<container>
	<p>
		<%= DateTime.strptime(@game.game_time, "%Y-%m-%d %H:%M:%S").utc.in_time_zone("Eastern Time (US & Canada)").strftime("%b %d, %I:%M %p") %>
	</p> 
	<div class="bet parlay_bet new_bet" data-game=<%= @game.id %> data-league_id=<%= @league_id %> data-bet_type=<%= @bet.bet_type %> >
		<%= render 'layouts/bet_top', :team => team, :number => number, :bet=> @bet %>
	</div>
</container>
