<% team = bet.team_name( game ) %>
<% number = bet.bet_value %>

<%= render 'layouts/bet_game_info', :bet => bet, :game => game %>
<div class="bet open_bet" data-user_name=<%=User.find(bet.user_id).name%>>
	<%= render 'layouts/bet_top', :team => team, :number => number, :bet=> bet %>
  <div class="bet_divider"></div>
  <div class="bet_bottom">
    <div class="left">
      <p> Risk: <%= bet.risk %> </p>
    </div>
    <div class="right">
      <p> To Win: <%= bet.win %> </p>
    </div>
  </div>

</div>
