<% team = bet.team_name( game ) %>
<% number = bet.number( game ) %>

<p class="bet_time">
	<%= DateTime.strptime(game.game_time, "%Y-%m-%d %H:%M:%S").utc.in_time_zone("Eastern Time (US & Canada)").strftime("%b %d, %I:%M %p") %>
</p> 
<div class="bet open_bet">
  <div class="bet_top">
    <ul>
      <li class="list_left"><%= team %></li>
      <li class="list_right"><%= number %></li>
      <li class="list_right"><pre>  :  </pre></li>     
      <li class="list_right"><%= bet.bet_type.capitalize %></li>
    </ul>
  </div>
  <div class="bet_divider"></div>
  <div class="bet_bottom">
    <div class="left">
      <p> Risk: <%= bet.risk %> </p>
    </div>
    <div class="right">
      <p> To Win: <%= bet.win %> </p>
    </div>
  </div>

</div>
