<% team = bet.team_name( game ) %>
<% number = bet.bet_value %>

<p class="bet_time">
	<%=User.find(bet.user_id).name%> placed this bet. </br>
	Kickoff: <%= DateTime.strptime(game.game_time, "%Y-%m-%d %H:%M:%S").utc.in_time_zone("Eastern Time (US & Canada)").strftime("%b %d, %I:%M %p") %>
</p> 
<div data-user_name=<%=User.find(bet.user_id).name%> class="bet open_bet <%= "#{winner}" %> <%= "#{game.game_status}" %> ">
	<%= render 'layouts/bet_top', :team => team, :number => number, :bet=> bet %>
  <div class="bet_divider"></div>
  <div class="bet_bottom">
    <div class="left">
      <p> Risk: <%= bet.risk %> </p>
    </div>
    <div class="left">
      <p> To Win: <%= bet.win %> </p>
    </div>
  </div>

</div>
