<span id="user_profile">
<div class="profile_sub_container round">
  <%= image_tag user.photo.url(:small) %>
</div>
<div class="profile_sub_container right_side">
  <pre id="league_rank"   >League Rank  :   <%= sprintf( "%-s", user.rank(league) ) %></pre>
  <pre                    >H2H Record    :     <%= user.record(league) %></pre>
  <pre id="league_credits">Total Credits   : <%= sprintf("%7d", membership.credits.current) %></pre>
  <pre id="league_credits">     At Risk       : <%= sprintf("%7d", current_user.open_bets_risk(league)) %></pre>
  <pre id="league_credits">     Available    : <%= sprintf("%7d", membership.credits.current - current_user.open_bets_risk(league)) %></pre>
  <pre>Buy Backs Left:  <%= league.league_settings['buy_backs'].to_i - user.buy_backs(league).to_i %></pre>
</div>
<div class="profile_sub_container bottom">
  <% if membership.activate_buy_in == true %>
  <%= submit_tag "Buy-In\n(#{league.league_settings['start_credits']} Credits)", :class => 'credit_button', :disabled => false %>
  <% else %>
  <%= submit_tag "Buy-In\n(#{league.league_settings['start_credits']} Credits)", :class => 'credit_button', :disabled => true %>
  <% end %>

  <% if membership.activate_buy_back == true %>
  <%= submit_tag "Buy-Back\n(#{league.league_settings['start_credits']} Credits)", :class => 'credit_button', :disabled => false %>
  <% else %>
  <%= submit_tag "Buy-Back\n(#{league.league_settings['start_credits']} Credits)", :class => 'credit_button', :disabled => true %>    
  <% end %>
</div>
</span>