<span id="user_profile">
<div class="profile_sub_container round">
  <%= image_tag user.photo.url(:small) %>
</div>
<%= render 'layouts/profile_right', :user => @user, :membership => @membership, :league => @league %>

<div class="profile_sub_container bottom">
  <% if membership.activate_buy_in == true %>
  <%= submit_tag "Buy-In\n(#{league.league_settings['start_credits']} Credits)", :class => 'credit_button', :disabled => false %>
  <% else %>
  <%= submit_tag "Buy-In\n(#{league.league_settings['start_credits']} Credits)", :class => 'credit_button', :disabled => true %>
  <% end %>

  <% if membership.activate_buy_back == true %>
  <%= submit_tag "Buy-Back\n(#{league.league_settings['start_credits']} Credits)", :class => 'credit_button', :disabled => false %>
  <% else %>
  <%= submit_tag "Buy-Back\n(#{league.league_settings['start_credits']} Credits)", :class => 'credit_button', :disabled => true %>    
  <% end %>
</div>
</span>
