<div class="left">
    <p id="average_return">Average Return: <%= membership.average_return %></p>
    <p id="biggest_win">Biggest Win: <%= membership.biggest_win %></p>
    <p id="biggest_loss">Biggest Loss: <%= membership.biggest_loss %></p>
</div>
<div class="right">
    <p id="number_of_bets"># of Bets Placed: <%= membership.number_of_bets %></p>
    <p id="win_percentage">% of Bets Won: <%= membership.win_percentage %></p>
    <p id="league_average">League Average: <%= membership.league_average %></p>
</div>
