<% game = Game.find(bet.game_id) %>
<% team = bet.team_name( game ) %>
<% number = bet.bet_value %>
<% winner = bet.get_css_color %>

<container>
	<p>
		Kickoff: <%= DateTime.strptime(game.game_time, "%Y-%m-%d %H:%M:%S").utc.in_time_zone("Eastern Time (US & Canada)").strftime("%b %d, %I:%M %p") %> </br>
		Away Score: <%=Game.find(bet.game_id).away_score.to_i%> -- Home Score: <%=Game.find(bet.game_id).home_score.to_i%>
	</p> 
	<div class="bet parlay_bet new_bet <%= winner %>" >
		<%= render 'layouts/bet_top', :team => team, :number => number, :bet=> bet %>
	</div>
</container>
