<div id='user_options' data-user_id=<%= user.id %> data-league_id=<%= league.id %> data-membership_id=<%= membership.id %> >
  
  <div class='round left user_admin_container' id='user_stub'>
    <%= image_tag user.photo.url(:thumb), :class => 'left round small_margin' %>
    <span><%= user.name %></span>
  </div>
  
  <div class='round left user_admin_container small_container'>
    <p><%= user.buy_in(league) %> / 1</p>
    <% if (membership.buy_in == 1)  ||  (membership.activate_buy_in == "t")%>
    <p><%= check_box_tag 'buy_in', 'true', true, :disabled => true  %></p>
    <% else %>
    <p><%= check_box_tag 'buy_in', 'false', false, :disabled => false  %></p> 
    <% end %>
  </div>
  
  <div class='round left user_admin_container small_container'>
    <p><%= user.buy_backs(league) %> / <%= league.league_settings['buy_backs'] %></p>
    <% if (user.buy_backs(league).to_f == league.league_settings['buy_backs'].to_f) || (membership.activate_buy_back == "t")%>
    <p><%= check_box_tag 'buy_back', 'true', true, :disabled => true %></p>
    <% else %>
    <p><%= check_box_tag 'buy_back', 'false', false, :disabled => false %></p>
    <% end %>
  </div>
  
  <div class='round left user_admin_container small_container' id='remove_user'>
    <% if league.manager == user.id %>
    <p><%= check_box_tag 'delete_membership', 'false', false, :disabled => true %></p>
    <% else %>
    <p><%= check_box_tag 'delete_membership', 'false', false, :disabled => false %></p>  
    <% end %>
  </div>
  
</div>