<div>
  
  <div class='round left user_admin_container' id='user_stub'>
    <%= image_tag user.photo.url(:thumb), :class => 'small_margin' %>
    <%= user.name %>
  </div>
  
  <div class='round left user_admin_container small_container'>
    <%= user.buy_in(league) %> / 1
    <%= check_box_tag 'buy_in'  %>
  </div>
  
  <div class='round left user_admin_container small_container'>
    <%= user.buy_backs(league) %> / <%= league.league_settings['buy_backs'] %>
    <%= check_box_tag 'buy_back' %>
  </div>
  
  <div class='round left user_admin_container small_container' id='remove_user'>
    <%= check_box_tag 'deelete_membership' %>
  </div>
  
</div>